.settings/
.idea/
bin/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore build files
.gradle
build/
*.swp
a.out

.classpath
.project
.ruby-version
file1
elf_file
aFileTouchedByWhenz
